<%- include('header') %> 


   <!-- GRID -->

   <div class="container">
    <div class="row forTables">
      <%if(orders.length != 0){%>
      <div class="mainTitle">My Orders :</div>
        <div class="col-12 offset-lg-12 col-lg-12">
          
          <!-- Liste des réservations passées-->
          <div class="card-body">
            <div class="table-responsive">

              <% 
              for(var i=0;i<orders.length;i++) {%>
                
                <table id="order-info" class="table tableauArrondi">
                <thead>
                  <thead>
                    <tr class="table-danger tableTitle">
                      <th>Date</th>
                      <th>Journey</th>
                      <th>Departure time</th>
                      <th>Price</th>  
                    </tr>
                  </thead>
                </thead>

                <tbody>

                  <% var total = 0;
                  for(var j=0;j<orders[i].length;j++){%>
                  
                  <tr class="table-light">
                    <th><%= dateFormat(orders[i][j].date)%></th>
                    <th><%= orders[i][j].departure %> <i class="fas fa-long-arrow-alt-right"></i> <%= orders[i][j].arrival %></th>
                    <th><%= orders[i][j].departureTime %> pm</th>
                    <th><%= orders[i][j].price %>€</th>
                  </tr>
                  <% total += orders[i][j].price %>
                  <%}%>

                  <tr class="table-light">
                    <th colspan="3">Total:</th>
                    <th><%= total %>€</th>
                  </tr>

                </tbody>
              </table>

              <%}%>

            <%}else {%>

            <div class="mainTitle">You have no orders yet <%= user.lastName %> <%= user.firstName %>...</div>

              <div class="smileyDiv">
                <div class="smile">
                <%- include('smiley') %></div>
              </div>

            <div class="btnnn"><a href="/home"><button class="btn btn-danger" type="submit">Home</button></a></div> 
            <%}%>
            </div>
          </div>
    </div>
 </div>











            </tbody>
          </table>
  </div>
    </div>



   
<%- include('footer') %>