<%- include('header') %>


   <!-- GRID -->
   <div class="container">
      <div class="row forTables">
        <div class="mainTitle">Search Results:</div>
          <div class="col-12 offset-lg-12 col-lg-12">
            <!--liste les résultats section-->
            
            <ul class="list-group resultsUl">

              <%for(var i=0;i<search.length;i++){%>

                <%console.log(search[i])%>

              <li class="list-group-item resultDiv">
                <div><span><%= search[i].departure %></span>
                <i class="fas fa-long-arrow-alt-right"></i>
                <span><%= search[i].arrival %></span></div>
                <span>Train departure at: <%= search[i].departureTime %></span>
                <div>
                  <span class="price"><%= search[i].price %>€</span>
                  <a class="btnTxt" href="/orders?id=<%= search[i]._id%>"><button class="btn btn-danger">Go</button></a>
                </div>
              </li>
              <%}%>

            </ul>
          </div>
        </div>
      </div>
   </div>
   
<%- include('footer') %>